
article{
    width: 300px;
    margin: 30px 20px;
}
article span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}

article span *{
    font-size: 15px;
}

article p{
    font-size: 20px;
    color: black;
}