:root{
    --lightblue:  #0DBBFC;
    --darkblue:#0A2640;
    --green: #65E4A3 ;
    --greyblue:#8FB6D5;
    --white:white;
    --grey: #777777;
    --lightgrey:#F1F1F1;
    --backgroundgrey: #E5E5E5;
}

.circle{
    height: 1293px;
    width: 1293px;
    border-radius: 50%;
    background-color: var(--grey);
    position: absolute;
    top: -789px;
    left: 777px;
    opacity: 0.2;
    z-index: 1;
    overflow: hidden !important;
}

.home{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--darkblue);
    color: var(--white);
    width: 100vw;
    align-items: center;
    justify-content: center;
    height: 85vh;
   
}

.sponsors{
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
}

.first{
    height: 423px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    margin-top: 45px;
    

}



.home-btn{
    display: flex;
    

}

button{
    font-weight: 600;
}

.home-btn :nth-child(1){
    background-color: var(--green);
    padding: 10px 40px;
    border-radius: 20px;
    color: var(--darkblue);
    border: none;
    margin-right: 10px;
}
.home-btn :nth-child(2){
    background-color: transparent;
    padding: 10px 40px;
    border-radius: 20px;
    color: var(--white);
    border: 1px solid white;
}


article{
    width: 567px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left *{
    margin: 15px 0px;
    
}

article:first-child{
    font-size: 48px;
    font-weight: 400;
}

article p:nth-child(2){
    font-size: 16px;
    color:white;
}



    /*************** Services ****************/




.services article h6{
    font-size: 20px;
    color: var(--grey);
    margin: 12px auto;

}

.services article{
    margin: auto;
    text-align: center;
}
.services article p{
    font-size: 48px;
    color: black;

}

.modal div img{

    width: 300px;
    height: 354px;
}

.modal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    margin:50px auto auto auto;

 
}

.modal div{
    width: 300px;
}

.modal div h4{
    margin: 20px 0px;
    color: black;
}

.modal div p{
    color: var(--grey);
    margin: 15px auto;
}

.modal div a{
    color: var(--darkblue);
    border-bottom: 1px solid var(--darkblue);
    padding-bottom: 5px;
    font-weight: bolder;
}


.services{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 200px;
    background-color: var(--lightgrey);
    padding: 50px 0px;

}




/***********************SERVICES TWO****************************/
.services-two{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 200px;
}
.man,.woman{
    display: flex;
    justify-content: space-evenly;
    width: 1137px;
    margin: 50px auto;
}

.man div h4,.woman div h4{
    font-size: 36px;
    line-height: 54px;
    font-weight: 400;
    max-width: 493px;
}

.man ul,.woman ul{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    height: 160px;
    justify-content: space-evenly;
}

.man ul li,.woman ul li{
    padding: 10px;
    margin-bottom: 15px;
}

.woman ul li{
    box-shadow: 0px 5px 10px 0px var(--grey);
}


.man ul li >*:nth-child(1),.man ul li >*:nth-child(1){
    margin-right: 10px;
}

.man div button{
    background-color: #0A2640;
    padding: 15px 40px;
    border: none;
    border-radius: 40px;
    color: white;
    font-weight: bolder;
}


/**************REVIEWS PAGE******************/

.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100vw;
    background-color: var(--darkblue);
    color: white;
    flex-direction: column;
    padding: 40px 0px;
}

.reviews div{
    display: flex;
    width: 1100px;
    justify-content: space-between;
    position: relative;
    margin-top: 50px;
    margin: auto;
}

.reviews .testimonials{
    width: 100vw;
    display: flex;
    flex-basis: 33%;
    overflow-x: hidden;

}

.reviews div p{
    font-size: 48px;
    line-height: 72px;
    /* width: 600px; */
}

.reviews div span{
    display: flex;
    width: 200px;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
    bottom: 20px;
}




/************************MEDIA QUERIES***************************/

/* This is for the Testimonials  */

@media screen and (max-width:768px) {
 
.reviews .testimonials{
    width: 100vw!important;
    display: flex;
    overflow-x: scroll !important;

}

.testimonials img{
    overflow-x: scroll;
}
    
.reviews div p{
     font-size: 48px;
     line-height: 72px;
     width: auto !important;
     text-align: center;
     margin: 20px 10px;
}

.reviews div span{
    display: none;
}

    
.reviews div{
    display: flex;
    justify-content: center !important;
    align-items: center;
    margin-top: 50px;
    width: auto !important;
}


}

/* This is for the Services Two page      */


@media screen and (max-width:768px) {
    .services-two{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .man,.woman{
        display: flex;
        flex-direction: column !important;
        justify-content: space-evenly;
        width: auto !important;
        margin: 20px 20px;
    }

    .man img, .woman img{
        margin:20px auto;
    }
    
    .man div h4,.woman div h4{
        font-size: 36px;
        line-height: 54px;
        font-weight: 400;
        max-width: 493px;
    }
    
    .man ul,.woman ul{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        height: 160px;
        justify-content: space-evenly;
    }
    
    .man ul li,.woman ul li{
        padding: 10px;
        margin-bottom: 15px;
    }
    
    .woman ul li{
        box-shadow: 0px 5px 10px 0px var(--grey);
    }
    
    
    .man ul li >*:nth-child(1),.man ul li >*:nth-child(1){
        margin-right: 10px;
    }
    
    .man div button{
        background-color: #0A2640;
        padding: 15px 40px;
        border: none;
        border-radius: 40px;
        color: white;
        font-weight: bolder;
    }
    
    
    
}


/* This is for the Home and Services page */

@media screen and (max-width:768px) {
    .circle{
        display: none;
    }
    
    .modal{
        flex-direction: column; 
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 100vw;
        margin:50px auto auto auto;
        
         
    }

    .services{
        margin-bottom: 100px !important;
    }

    .modal div{
        margin: 20px auto;
    }




    .modal article{
        width: auto !important;
    }

    .sponsors{
        display: none;
    }

    .first div img{
        display: none;
    }

    .first{
        max-height:100vh;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 70px;
        margin-top: 45px;
        
    
    }

    article{
        width:auto !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
    }
    
    article p,.home-btn{
        display: flex;    
        margin: 20px 15px !important;
    }
    .left{
        width: auto;
    }



}